h1,
p {
  font-family: Lato;
}
.leftArea {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  width: 70%;
  margin-bottom: 10px;
}

.container {
  display: flex;
  box-sizing: border-box;
}
