.App {
  border: 1px solid #dddddd;
  height: 550px;
  width: 550px;
  text-align: center;
  background-color: #dddddd;
}
.Buttons-content {
  margin-top: 100px;
}
.Buttons-Blue {
  height: 50px;
  width: 400px;
  background-color: blue;
  color: #ffffff;
}

.Content {
  margin: 5px;
}
.Buttons-Red {
  background-color: red;
  height: 50px;
  width: 400px;
  background-color: red;
}
